# Analyzing Bay Wheels trip data on April 2020
**by Gabriel Medeiros das Neves**

## Introduction

Write a briefly introduction to the study and the dataset here.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

## Data Wrangling
In this section of the report I will gather the necessary data, understand its general properties, identify and clean possible quality and tidiness issues, such as missing or incorrect values, for example.

### Gather
Here I'll be converting the provided `.csv` file in a Pandas DataFrame.

In [2]:
trip_data = pd.read_csv('baywheels_tripdata.csv')
trip_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5A1FF31692371859,electric_bike,2020-04-04 08:28:20,2020-04-04 08:33:34,NaN,NaN,NaN,NaN,37.7692,-122.4209,37.7703,-122.4069,casual
1,D8D5BA2D4F051133,electric_bike,2020-04-03 18:55:43,2020-04-03 19:21:05,NaN,NaN,NaN,NaN,37.8023,-122.4244,37.8023,-122.4244,casual
2,A3633A9140CA4FF8,electric_bike,2020-04-04 15:11:04,2020-04-04 15:12:21,NaN,NaN,NaN,NaN,37.7667,-122.3961,37.7667,-122.3962,casual
3,301F57EB0197A5E0,electric_bike,2020-04-03 20:21:03,2020-04-03 22:08:06,8th St at Ringold St,60.0,NaN,NaN,37.7744,-122.4095,37.7805,-122.4033,casual
4,9429C701AF5744B3,electric_bike,2020-04-03 18:39:39,2020-04-03 18:47:19,NaN,NaN,NaN,NaN,37.8027,-122.4433,37.8009,-122.4269,casual

### Assess
The main objective of the Assess section is to better understand each piece of data and identify possible issues that must be cleaned

In [3]:
trip_data.sample(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
76232,F94991554FDB6C42,docked_bike,2020-04-30 12:23:43,2020-04-30 12:30:30,Berry St at 4th St,81.0,The Embarcadero at Steuart St,23.0,37.7759,-122.3932,37.7915,-122.3910,member
64469,CB005B63FBC280C6,docked_bike,2020-04-24 13:27:41,2020-04-24 15:12:33,Potrero Ave and Mariposa St,336.0,Irwin St at 8th St,102.0,37.7633,-122.4074,37.7669,-122.3996,casual
30639,C4E1A0F878200461,electric_bike,2020-04-07 18:57:32,2020-04-07 19:01:45,Greenwich St at Franklin St,478.0,Bay St at Fillmore St,399.0,37.8003,-122.4258,37.8026,-122.4361,casual
78505,C2111D3273166B53,docked_bike,2020-04-18 12:53:20,2020-04-18 12:58:25,Grand Ave at Perkins St,196.0,Grand Ave at Santa Clara Ave,193.0,37.8089,-122.2565,37.8127,-122.2472,member
47930,CCB10B925A56DA94,docked_bike,2020-04-23 10:20:33,2020-04-23 10:55:01,Jack London Square,187.0,Lake Merritt BART Station,163.0,37.7962,-122.2794,37.7973,-122.2653,casual

In [4]:
trip_data.shape

(84259, 13)

In [5]:
trip_data.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [6]:
trip_data.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    30825
start_station_id      30825
end_station_name      32401
end_station_id        32401
start_lat                 0
start_lng                 0
end_lat                 142
end_lng                 142
member_casual             0
dtype: int64

In [7]:
trip_data.rideable_type.unique()

array(['electric_bike', 'docked_bike'], dtype=object)

In [8]:
trip_data.member_casual.unique()

array(['casual', 'member'], dtype=object)

In [9]:
trip_data.start_station_name.unique()

array([nan, '8th St at Ringold St', 'Chestnut St at Van Ness Ave',
       'Buchanan St at North Point St',
       'Montgomery St BART Station (Market St at 2nd St)',
       'Post St at Webster St', '4th St at 16th St',
       'McKinnon Ave at 3rd St', 'Precita Park', 'Central Ave at Fell St',
       'Funston Ave at Fulton St', 'Steiner St at California St',
       'The Embarcadero at Bryant St', 'Market St at Steuart St',
       'Leavenworth St at Broadway',
       'Union Square (Powell St at Post St)', '10th St at Empire St',
       'Market St at Dolores St', 'Davis St at Jackson St',
       'Salesforce Transit Center (Natoma St at 2nd St)',
       '4th St at Mission Bay Blvd S', '23rd St at Taylor St',
       'Folsom St at 19th St', '15th St at Potrero Ave',
       'Market St at 10th St', 'Jones St at Post St',
       'Fell St at Stanyan St', 'Octavia Blvd at Page St',
       'Eureka Valley Recreation Center', 'S Park St at 3rd St',
       'Golden Gate Ave at Hyde St', 'Sonora Ave at 1st St',
       '48th Ave at Cabrillo St', 'Broadway at Kearny',
       'McAllister St at Baker St', '20th St at Bryant St',
       'San Francisco Caltrain (Townsend St at 4th St)',
       'Myrtle St at Polk St', 'Brannan St at Colin P Kelly Jr St',
       '7th St at King St', '8th St at Brannan St',
       '20th St at Dolores St', '11th St at Bryant St',
       'Alamo Square (Steiner St at Fulton St)',
       'Greenwich St at Webster St', 'Washington St at Kearny St',
       'Powell St BART Station (Market St at 5th St)',
       "St. Joseph's Ave at Geary Blvd", 'Folsom St at 15th St',
       'Pierce St at Haight St', 'Empire St at 1st St',
       'Valencia St at 21st St', 'Folsom St at 13th St',
       'Carroll Ave at 3rd St', 'Willow St at Blewett Ave',
       'St James St at 9th St', 'Esprit Park',
       'Frederick St at Arguello Blvd', 'Valencia St at 22nd St',
       'Post St at Divisadero St', 'Potrero Ave and Mariposa St',
       'Hyde St at Post St', 'Rhode Island St at 17th St',
       'Valencia St at 24th St', 'Bryant St at 6th St',
       'Folsom St at 3rd St', '18th Ave at California St',
       'San Jose City Hall', 'Golden Gate Ave at Polk St',
       'Guerrero Park', 'Potrero del Sol Park (25th St at Utah St)',
       'Berry St at 4th St',
       '17th & Folsom Street Park (17th St at Folsom St)',
       'Garfield Square (25th St at Harrison St)',
       'Williams Ave at 3rd St', 'Autumn Parkway at Coleman Ave',
       'San Fernando St at 7th St', 'Jackson St at Polk St',
       'Lombard St at Columbus Ave', "Webster St at O'Farrell St",
       '23rd St at Tennessee St', 'Valencia St at 16th St',
       'Embarcadero BART Station (Beale St at Market St)',
       '17th Ave at Geary Blvd', 'Mint St at Mission St',
       'Mississippi St at 17th St', 'Laguna St at Hayes St',
       '17th St at Valencia St', 'Clement St at 32nd Ave',
       'Scott St at Golden Gate Ave', 'William St at 10th St',
       'San Francisco Public Library (Grove St at Hyde St)',
       'Backesto Park (Jackson St at 13th St)', 'Howard St at Beale St',
       'Mechanics Monument Plaza (Market St at Bush St)',
       'San Pedro St at Hedding St', 'Sanchez St at 15th St',
       '23rd Ave at Clement St', 'Mission Playground',
       'Broderick St at Oak St', 'Utah St at 24th St',
       '2nd St at Townsend St', 'Valencia St at Clinton Park',
       'San Fernando St at 4th St', 'Evans Ave at Mendell St',
       'Civic Center/UN Plaza BART Station (Market St at McAllister St)',
       'W Julian St at N Morrison St', '1st St at Folsom St',
       '17th St at Dolores St', 'Raymond Kimbell Playground',
       '11th St at Natoma St', 'Dolores St at 15th St',
       '22nd St at Potrero Ave', 'Bay St at Fillmore St',
       'Divisadero St at Clay St', 'Mission Bay Kids Park',
       'Powell St BART Station (Market St at 4th St)',
       'The Embarcadero at Vallejo St', 'Illinois St at 20th St',
       'Mission Dolores Park', '7th Ave at Cabrillo St',
       'Greenwich St at Franklin St', '14th St at Mission St',
       'San Carlos St at Meridian Ave', 'Berry St at King St',
       'Spruce St at California St', '14th Ave at Geary Blvd',
       '29th St at Church St', '29th St at Tiffany Ave',
       'San Francisco Ferry Building (Harry Bridges Plaza)',
       'Fern St at Polk St', '24th St at Bartlett St',
       'S Van Ness Ave at Market St', '10th Ave at Irving St',
       'Arguello Blvd at Edward St', '7th Ave at Clement St',
       'Grove St at Divisadero', 'Post St at Kearny St',
       'Folsom St at 9th St', '19th St at Mission St',
       'Raymond Bernal Jr Memorial Park (8th St at Hedding St)',
       'Grove St at Masonic Ave', 'Koshland Park', 'Brannan St at 7th St',
       '7th St at Brannan St', 'Carl St at Cole St',
       'Turk St at Fillmore St', '1st St at San Carlos St',
       'Natoma St at New Montgomery St', 'Sanchez St at 17th St',
       'Jersey St at Castro St', 'Laurel St at California St',
       'Hubbell St at 16th St', '2nd St at Julian St',
       'Turk Blvd at Stanyan St', 'Ellis St at Pierce St',
       'Metro Dr at Technology Dr', 'Pier 1/2 at The Embarcadero',
       '5th St at Virginia St', 'Funston Ave at Irving St',
       '21st St at Santa Clara St', 'McAllister St at Arguello Blvd',
       'Green St at Van Ness St', 'Gennessee St at Monterey Blvd',
       '22nd St Caltrain Station', 'The Embarcadero at Steuart St',
       'Webster St at Grove St', 'Church St at Duboce Ave',
       'Beale St at Harrison St', '3rd St at Townsend St',
       'Folsom St at 7th St', '7th Ave at Irving St', 'Duboce Park',
       'Randall St at Chenery St', 'Cyril Magnin St at Ellis St',
       'Quesada Ave at 3rd St', 'Father Alfred E Boeddeker Park',
       'Broadway at Kearny St', 'Green St at Van Ness Ave',
       'Almaden Blvd at San Fernando St', 'Cruise Terminal at Pier 27',
       'Masonic Ave at Turk St', 'The Embarcadero at Sansome St',
       'Anza St at Collins St', 'Bird Ave at Coe Ave',
       '16th St Mission BART Station 2', 'Glen Park BART Station',
       '24th St at Chattanooga St', 'Grove St at Gough St',
       'San Francisco Caltrain Station (King St at 4th St)',
       'Cesar Chavez St at Dolores St', 'Frida Kahlo Way at Cloud Cir',
       'Clement St at 32nd Avenue', 'Auzerais Ave at Lincoln Ave',
       'Judson Ave at Gennessee St', 'San Salvador St at 9th St',
       'Almaden Blvd at Balbach St', 'Townsend St at 5th St',
       'Indiana St at Cesar Chavez St', 'The Embarcadero at Pier 38',
       "O'Farrell St at Masonic Ave", 'Broadway at Battery St',
       'Brannan St at 4th St', 'Asbury St at The Alameda',
       'Pierce Ave at Market St', 'San Carlos St at 11th St',
       'Julian St at The Alameda', '22nd St at William St',
       'Jersey St at Church St', 'Harrison St at 17th St',
       '17th St at Santa Clara St', 'Devine St at San Pedro St',
       'Mendell St at Fairfax Ave', 'Spear St at Folsom St',
       'Howard St at 6th St', 'Powell St at Columbus Ave',
       'Jackson Playground', '18th St at Noe St', 'Howard St at 2nd St',
       'Howard St at 8th St', 'Franklin Square',
       'Market St at Franklin St', '5th Ave at Anza St',
       'McCoppin St at Valencia St', 'Webster St at Clay St',
       'Clay St at Battery St', '10th St at Mission St',
       'Harrison St at 20th St', '9th Ave at Geary Blvd',
       'Golden Gate Ave at Franklin St',
       'Terry Francois Blvd at Mission Bay Blvd N',
       '22nd St at Dolores St', 'Townsend St at 7th St',
       'Saint James Park', '19th St at William St',
       'Alameda St at Henry Adams St', "Heron's Head Park",
       '16th St at Prosper St', 'China Basin St at 3rd St',
       'Jennings St at Revere Ave', 'Oakdale Ave at Phelps St',
       'Bryant St at 2nd St', 'Ryland Park',
       'Arguello Blvd at Geary Blvd', 'Page St at Scott St',
       'San Pedro Square', '19th St at Florida St',
       'Newhall St at 3rd St', 'Willow St at Vine St',
       'Commercial St at Montgomery St', 'Park Ave at Laurel Grove Ln',
       'Park Ave at Race St', 'Sunol St at San Carlos St',
       'Williams Ave at Apollo St', '3rd St at Keyes St',
       'Paseo De San Antonio at 2nd St', 'N 14th St at E Santa Clara St',
       'The Alameda at Bush St', 'Kerley Dr at Rosemary St',
       'Illinois St at Cesar Chavez St', 'Columbia Ave at Bird Ave',
       'Terry Francois Blvd at Warriors Way',
       "O'Farrell St at Divisadero St", 'Mercado Way at Sierra Rd',
       'Folsom St at 5th St', 'Division St at Potrero Ave',
       'Bryant St at 15th St', 'Julian St at 6th St',
       'Santa Clara St at Almaden Blvd', 'Battery St at Filbert St',
       'Parkmoor Ave at Race St', 'Clara St at 4th St', 'SAP Center',
       '4th St at San Carlos St', '30th St at San Jose Ave',
       'Valencia St at Cesar Chavez St', 'Delmas Ave and San Fernando St',
       'Folsom St at 2nd St', 'Parker Ave at McAllister St',
       'Market St at Park St', 'Otis St at Brady St',
       'Yerba Buena Center for the Arts (Howard St at 3rd St)',
       'San Jose Diridon Station', '4th St at Harrison St',
       'Taylor St at 9th St', 'San Carlos St at Market St',
       'Bestor Art Park', 'Lane St at Revere Ave', '16th St Mission BART',
       'Fountain Alley at S 2nd St', 'Cahill Park',
       'Funston Ave at Clement St',
       'Auzerais Ave at Los Gatos Creek Trail', 'Irwin St at 8th St',
       'Newbury Park Dr at King Rd', 'Santa Clara St at 7th St',
       'Mission St at 1st St', 'Gish Rd at 1st St', '7th St at Empire St',
       'Bay Pl at Vernon St', 'College Ave at Alcatraz Ave',
       'MacArthur Blvd at Telegraph Ave', 'Goettingen St at Bacon St',
       'Victoria Manalo Draves Park', 'George St at 1st St',
       'Channing Way at Shattuck Ave', 'Telegraph Ave at Carleton St',
       'Derby St at College Ave', 'Hearst Ave at Euclid Ave',
       'Stanford Ave at Hollis St', 'Rockridge BART Station',
       'Berkeley Civic Center', 'Emeryville Town Hall',
       'Vine St at Shattuck Ave', 'Shattuck Ave at 55th St',
       'Shattuck Ave at 51st St', 'Evans Ave at Newhall St',
       'Balboa Park BART Station', 'Jackson St at 5th St',
       'Palm St at Willow St', '5th St at San Salvador St',
       'MLK Jr Way at University Ave', 'Haste St at College Ave',
       '65th St at Hollis St', 'Snow Park', 'Addison St at Fourth St',
       'Alcatraz Ave at Shattuck Ave', 'Downtown Berkeley BART',
       'Doyle St at 59th St', 'DeFremery Park',
       'Telegraph Ave at 19th St', '2nd Ave at E 18th St',
       'Shattuck Ave at Hearst Ave', 'Grand Ave at Webster St',
       '9th St at San Fernando St', 'Locust St at Grant St',
       'Skyport Dr at Technology Dr', 'El Embarcadero at Grand Ave',
       'Genoa St at 55th St', 'Ninth St at Heinz Ave',
       'Franklin St at 9th St', 'Telegraph Ave at 23rd St',
       'Frank H Ogawa Plaza', 'Broadway at 30th St',
       'Grand Ave at Santa Clara Ave', 'MacArthur BART Station',
       'College Ave at Harwood Ave', 'Ashby BART Station',
       'Harmon St at Adeline St', 'Horton St at 40th St',
       '47th St at San Pablo Ave', 'Lakeside Dr at 14th St',
       '49th St at Telegraph Ave', 'Telegraph Ave at Alcatraz Ave',
       'MLK Jr Way at 14th St', '23rd Ave at Foothill Blvd',
       'Shattuck Ave at Telegraph Ave', 'Madison St at 17th St',
       '10th St at University Ave', 'Fulton St at Bancroft Way',
       'San Pablo Park', '24th St at Market St',
       'University Ave at Oxford St', 'Adeline St at 40th St',
       'Bancroft Way at College Ave', 'Jack London Square',
       'Lakeshore Ave at Trestle Glen Rd', 'Egbert Ave at Jennings St',
       'Bancroft Way at Telegraph Ave', 'Emeryville Public Market',
       'Telegraph Ave at Ashby Ave', 'Fifth St at Delaware St',
       'Woolsey St at Sacramento St', 'Ninth St at Parker St',
       'Union St at 10th St', '21st St at 5th Ave',
       'Grand Ave at Perkins St', 'Telegraph Ave at 27th St',
       'Channing Way at San Pablo Ave', '14th St at Mandela Pkwy',
       'College Ave at Taft Ave', 'Oregon St at Adeline St',
       'Mosswood Park', 'Broadway at Coronado Ave',
       'San Francisco City Hall (Polk St at Grove St)', '2100 Powell St',
       '10th St at Fallon St', 'Virginia St at Shattuck Ave',
       'Russell St at College Ave', 'Ellsworth St at Russell St',
       '59th St at Horton St', 'Webster St at 2nd St',
       'Market St at 8th St', '53rd St at Hollis St',
       'Market St at 45th St', 'Isabella St at San Pablo Ave',
       'California St at University Ave', 'Haste St at Telegraph Ave',
       'Parker St at Fulton St', 'Lake Merritt BART Station',
       '34th St at Telegraph Ave', 'Delmas Ave at Virginia St',
       'Fruitvale Ave at International Blvd', 'Jackson St at 11th St',
       'Bushrod Park', 'Market St at 40th St',
       'West St at University Ave', 'Fruitvale BART Station',
       '14th St at Filbert St', 'North Berkeley BART Station',
       'Market St at Brockhurst St', 'San Pablo Ave at 27th St',
       'Telegraph Ave at 58th St', '19th Street BART Station',
       'West Oakland BART Station', 'Webster St at 19th St',
       '13th St at Franklin St', 'Broadway at 40th St',
       'San Pablo Ave at MLK Jr Way', '37th St at West St',
       'Miles Ave at Cavour St', 'Fulton St at Ashby Ave',
       '45th St at Manila', 'Oak St at 1st St',
       'South San Jose State (7th St at Humboldt St)',
       'Washington St at 8th St', 'Foothill Blvd at Fruitvale Ave',
       'Bird Ave at Willow St', 'Stockton Ave at Lenzen Ave',
       '5th St at Taylor St', 'West St at 40th St',
       '27th St at MLK Jr Way',
       '4th Ave at E 12th St (Temporary Location)',
       '1st St at Younger Ave', '45th St at MLK Jr Way',
       '6th Ave at E 12th St (Temporary Location)', 'Dover St at 57th St',
       '55th St at Telegraph Ave', 'College Ave at Bryant Ave',
       'Foothill Blvd at Harrington Ave', 'San Antonio Park',
       '16th Depot Bike Fleet Station', '16th St Depot',
       '10th Ave at E 15th St', 'Bond St at High St'], dtype=object)

In [10]:
trip_data.end_station_name.unique()

array([nan, '4th St at 16th St',
       'Montgomery St BART Station (Market St at 2nd St)', 'Precita Park',
       'Grove St at Divisadero',
       'Garfield Square (25th St at Harrison St)',
       'Post St at Webster St', 'Broderick St at Oak St',
       'Central Ave at Fell St', 'Greenwich St at Franklin St',
       '10th St at Empire St', 'Leavenworth St at Broadway',
       'Davis St at Jackson St', '4th St at Mission Bay Blvd S',
       'San Francisco Public Library (Grove St at Hyde St)',
       '15th St at Potrero Ave', '23rd St at Tennessee St',
       'Mission Playground', 'Jones St at Post St',
       'Market St at Dolores St', 'Fell St at Stanyan St',
       'Golden Gate Ave at Polk St', 'S Park St at 3rd St',
       'Sonora Ave at 1st St', '20th St at Bryant St',
       'Market St at 10th St', 'Scott St at Golden Gate Ave',
       'Broadway at Kearny',
       'San Francisco Caltrain (Townsend St at 4th St)',
       '23rd St at Taylor St', 'Parker Ave at McAllister St',
       '20th St at Dolores St', 'Grove St at Masonic Ave',
       'Greenwich St at Webster St', 'Oakdale Ave at Phelps St',
       'Powell St BART Station (Market St at 5th St)',
       'Steiner St at California St', '7th Ave at Cabrillo St',
       '11th St at Bryant St', 'Valencia St at 22nd St',
       'Folsom St at 15th St', 'Pierce St at Haight St',
       '16th St at Prosper St', 'Columbia Ave at Bird Ave', 'Esprit Park',
       'Post St at Divisadero St', '8th St at Brannan St',
       'Koshland Park', 'Potrero del Sol Park (25th St at Utah St)',
       'Laguna St at Hayes St', "O'Farrell St at Masonic Ave",
       'Hyde St at Post St', 'McAllister St at Arguello Blvd',
       'Commercial St at Montgomery St', 'Powell St at Columbus Ave',
       'Spruce St at California St', "Webster St at O'Farrell St",
       'Washington St at Kearny St', 'Sanchez St at 17th St',
       'Valencia St at 16th St', 'Pier 1/2 at The Embarcadero',
       'Jackson St at Polk St', 'Mission St at 1st St',
       'Brannan St at Colin P Kelly Jr St',
       'San Francisco Caltrain Station (King St at 4th St)',
       'The Embarcadero at Vallejo St', 'Myrtle St at Polk St',
       '14th St at Mission St', '17th Ave at Geary Blvd',
       'Mechanics Monument Plaza (Market St at Bush St)',
       'Mint St at Mission St', 'Mississippi St at 17th St',
       'Alamo Square (Steiner St at Fulton St)', 'Page St at Scott St',
       'Bryant St at 6th St', '23rd Ave at Clement St',
       'San Pedro St at Hedding St', 'Eureka Valley Recreation Center',
       'Funston Ave at Fulton St', 'Utah St at 24th St',
       'Hubbell St at 16th St', 'Valencia St at 21st St',
       'Divisadero St at Clay St', 'Fern St at Polk St',
       'Buchanan St at North Point St', 'Funston Ave at Clement St',
       'Sanchez St at 15th St', 'The Embarcadero at Steuart St',
       'Goettingen St at Bacon St', '11th St at Natoma St',
       'Irwin St at 8th St', 'Rhode Island St at 17th St', 'Duboce Park',
       'Howard St at Beale St', '22nd St Caltrain Station',
       '5th Ave at Anza St', 'Randall St at Chenery St',
       '48th Ave at Cabrillo St', 'The Embarcadero at Sansome St',
       'Mission Dolores Park',
       'San Francisco Ferry Building (Harry Bridges Plaza)',
       'Valencia St at Cesar Chavez St',
       'Powell St BART Station (Market St at 4th St)',
       'Union Square (Powell St at Post St)',
       'S Van Ness Ave at Market St', 'Howard St at 8th St',
       'Arguello Blvd at Edward St', '19th St at Mission St',
       'Illinois St at 20th St', '9th Ave at Geary Blvd',
       'Raymond Kimbell Playground', '18th Ave at California St',
       '8th St at Ringold St', 'Post St at Kearny St',
       'William St at 10th St', 'The Alameda at Bush St',
       'Bay St at Fillmore St', 'Spear St at Folsom St',
       'Berry St at King St', '7th St at Brannan St',
       'Carl St at Cole St', '1st St at San Carlos St',
       'Natoma St at New Montgomery St', 'Williams Ave at Apollo St',
       'Frederick St at Arguello Blvd', 'Brannan St at 4th St',
       '17th & Folsom Street Park (17th St at Folsom St)',
       'Octavia Blvd at Page St', "St. Joseph's Ave at Geary Blvd",
       '2nd St at Julian St', 'Dolores St at 15th St',
       'Funston Ave at Irving St', '10th Ave at Irving St',
       'Webster St at Clay St', 'Brannan St at 7th St',
       'Market St at Steuart St', 'Glen Park BART Station',
       '7th Ave at Irving St', 'Beale St at Harrison St',
       'Folsom St at 3rd St', '3rd St at Townsend St',
       'Valencia St at 24th St', 'Folsom St at 9th St',
       'Cyril Magnin St at Ellis St', 'Green St at Van Ness St',
       'Julian St at The Alameda', 'San Jose City Hall',
       'Berry St at 4th St', 'Church St at Duboce Ave',
       'Broadway at Kearny St', 'Willow St at Vine St',
       'Green St at Van Ness Ave', 'San Fernando St at 4th St',
       'Cruise Terminal at Pier 27', 'St James St at 9th St',
       '16th St Mission BART Station 2', 'Anza St at Collins St',
       'Potrero Ave and Mariposa St', '17th St at Dolores St',
       'Mission Bay Kids Park', 'Frida Kahlo Way at Cloud Cir',
       'Clement St at 32nd Avenue', 'Parkmoor Ave at Race St',
       'Folsom St at 7th St', 'Judson Ave at Gennessee St',
       'Arguello Blvd at Geary Blvd', '30th St at San Jose Ave',
       'Chestnut St at Van Ness Ave', '17th St at Valencia St',
       '5th St at Virginia St', 'McAllister St at Baker St',
       'Webster St at Grove St', 'Laurel St at California St',
       'Harrison St at 17th St', 'Jersey St at Church St',
       '17th St at Santa Clara St', 'Folsom St at 2nd St',
       'Turk St at Fillmore St', '19th St at Florida St',
       'Mendell St at Fairfax Ave', 'Devine St at San Pedro St',
       'San Carlos St at Meridian Ave', 'Jackson Playground',
       '1st St at Folsom St', 'Victoria Manalo Draves Park',
       'Townsend St at 5th St', 'Park Ave at Race St',
       'Bryant St at 15th St', '24th St at Chattanooga St',
       'Yerba Buena Center for the Arts (Howard St at 3rd St)',
       'Market St at Franklin St', '7th Ave at Clement St',
       'San Fernando St at 7th St', '22nd St at Potrero Ave',
       'Folsom St at 5th St', 'Grove St at Gough St',
       'Raymond Bernal Jr Memorial Park (8th St at Hedding St)',
       '18th St at Noe St', 'Terry Francois Blvd at Mission Bay Blvd N',
       'Lombard St at Columbus Ave', 'Golden Gate Ave at Hyde St',
       'Cahill Park', 'Alameda St at Henry Adams St',
       'Embarcadero BART Station (Beale St at Market St)',
       'Cesar Chavez St at Dolores St',
       'Civic Center/UN Plaza BART Station (Market St at McAllister St)',
       'Autumn Parkway at Coleman Ave', '2nd St at Townsend St',
       'The Embarcadero at Pier 38', '29th St at Tiffany Ave',
       'Townsend St at 7th St', 'Jersey St at Castro St',
       '5th St at San Salvador St', 'Clara St at 4th St',
       'Jennings St at Revere Ave', 'Harrison St at 20th St',
       'Franklin Square', '24th St at Bartlett St',
       'Father Alfred E Boeddeker Park', 'Clay St at Battery St',
       '14th Ave at Geary Blvd', 'San Carlos St at Market St',
       'Newhall St at 3rd St', 'Williams Ave at 3rd St',
       'Pierce Ave at Market St', '29th St at Church St',
       'China Basin St at 3rd St', 'Terry Francois Blvd at Warriors Way',
       'Clement St at 32nd Ave', 'Park Ave at Laurel Grove Ln',
       'McKinnon Ave at 3rd St', 'Paseo De San Antonio at 2nd St',
       '10th St at Mission St', 'Sunol St at San Carlos St',
       'N 14th St at E Santa Clara St', 'San Pedro Square',
       'Howard St at 6th St', 'Golden Gate Ave at Franklin St',
       'Illinois St at Cesar Chavez St', 'Broadway at Battery St',
       'Masonic Ave at Turk St', '22nd St at William St',
       'Valencia St at Clinton Park', 'Fountain Alley at S 2nd St',
       'The Embarcadero at Bryant St', '22nd St at Dolores St',
       'McCoppin St at Valencia St', 'Folsom St at 13th St',
       'Locust St at Grant St', 'San Salvador St at 9th St',
       'Ellis St at Pierce St', 'Division St at Potrero Ave',
       'Folsom St at 19th St', 'Taylor St at 9th St',
       'Battery St at Filbert St', 'Lane St at Revere Ave',
       'W Julian St at N Morrison St', 'Almaden Blvd at Balbach St',
       "O'Farrell St at Divisadero St", 'Willow St at Blewett Ave',
       'Quesada Ave at 3rd St', 'Delmas Ave and San Fernando St',
       'Bryant St at 2nd St', "Heron's Head Park",
       'Santa Clara St at Almaden Blvd',
       'Almaden Blvd at San Fernando St', '19th St at William St',
       'Market St at Park St', 'Backesto Park (Jackson St at 13th St)',
       'Indiana St at Cesar Chavez St', 'Ryland Park',
       '3rd St at Keyes St', 'Gennessee St at Monterey Blvd',
       'Evans Ave at Newhall St',
       'Salesforce Transit Center (Natoma St at 2nd St)', 'SAP Center',
       'San Carlos St at 11th St', 'Guerrero Park', 'Otis St at Brady St',
       'Balboa Park BART Station', 'Bird Ave at Coe Ave',
       'Bestor Art Park', 'Asbury St at The Alameda',
       'San Jose Diridon Station', 'Turk Blvd at Stanyan St',
       '4th St at Harrison St', 'Howard St at 2nd St',
       'Auzerais Ave at Los Gatos Creek Trail',
       'Mercado Way at Sierra Rd', 'Metro Dr at Technology Dr',
       '7th St at King St', 'Jackson St at 5th St',
       'Evans Ave at Mendell St', '9th St at San Fernando St',
       'Oak St at 1st St', '7th St at Empire St', 'Bay Pl at Vernon St',
       'Harmon St at Adeline St', 'MacArthur Blvd at Telegraph Ave',
       'Gish Rd at 1st St', 'Santa Clara St at 7th St',
       'Julian St at 6th St', 'Channing Way at San Pablo Ave',
       'Channing Way at Shattuck Ave', 'West St at University Ave',
       'California St at University Ave',
       'Lakeshore Ave at Trestle Glen Rd', 'Newbury Park Dr at King Rd',
       'Derby St at College Ave', 'Emeryville Town Hall',
       'Shattuck Ave at 55th St', '2nd Ave at E 18th St',
       'San Francisco City Hall (Polk St at Grove St)',
       '4th St at San Carlos St', 'George St at 1st St',
       'Carroll Ave at 3rd St', '16th St Mission BART',
       'Vine St at Shattuck Ave', 'Fulton St at Ashby Ave',
       '65th St at Hollis St', 'Shattuck Ave at 51st St',
       'Addison St at Fourth St', 'Alcatraz Ave at Shattuck Ave',
       'College Ave at Taft Ave', 'San Pablo Park', 'Saint James Park',
       'MLK Jr Way at 14th St', 'Horton St at 40th St', 'Snow Park',
       'Doyle St at 59th St', 'El Embarcadero at Grand Ave',
       'Kerley Dr at Rosemary St', 'Genoa St at 55th St',
       'Ninth St at Heinz Ave', '14th St at Mandela Pkwy',
       'Virginia St at Shattuck Ave', 'Berkeley Civic Center',
       'San Pablo Ave at 27th St', 'Haste St at Telegraph Ave',
       '47th St at San Pablo Ave', 'Union St at 10th St',
       '45th St at Manila', '14th St at Filbert St',
       '19th Street BART Station', 'Adeline St at 40th St',
       'Market St at 45th St', '23rd Ave at Foothill Blvd',
       'San Antonio Park', 'Shattuck Ave at Telegraph Ave',
       'Stanford Ave at Hollis St', 'Market St at 40th St',
       'Frank H Ogawa Plaza', '10th St at University Ave',
       'Fulton St at Bancroft Way', 'Telegraph Ave at 19th St',
       'University Ave at Oxford St', '24th St at Market St',
       'Bancroft Way at College Ave', 'Russell St at College Ave',
       'Egbert Ave at Jennings St', 'Oregon St at Adeline St',
       'Emeryville Public Market', 'Woolsey St at Sacramento St',
       'Ninth St at Parker St', 'Broadway at 30th St',
       'Telegraph Ave at Carleton St', 'North Berkeley BART Station',
       'Franklin St at 9th St', 'Telegraph Ave at 23rd St',
       '37th St at West St', 'MLK Jr Way at University Ave',
       'Hearst Ave at Euclid Ave', 'Auzerais Ave at Lincoln Ave',
       'Mosswood Park', 'Grand Ave at Webster St',
       'Grand Ave at Perkins St', 'Parker St at Fulton St',
       '59th St at Horton St', 'Grand Ave at Santa Clara Ave',
       'Market St at Brockhurst St', 'Telegraph Ave at Ashby Ave',
       'San Jose Depot', '21st St at Santa Clara St', '2100 Powell St',
       'Webster St at 2nd St', 'Ellsworth St at Russell St',
       'Bancroft Way at Telegraph Ave', 'Rockridge BART Station',
       '53rd St at Hollis St', '34th St at Telegraph Ave',
       'Skyport Dr at Technology Dr', 'College Ave at Bryant Ave',
       'Fifth St at Delaware St', 'Isabella St at San Pablo Ave',
       '49th St at Telegraph Ave', 'Jackson St at 11th St',
       'Miles Ave at Cavour St', 'Lake Merritt BART Station',
       'College Ave at Alcatraz Ave', 'West Oakland BART Station',
       '10th St at Fallon St', 'Jack London Square',
       'Delmas Ave at Virginia St', 'Foothill Blvd at Fruitvale Ave',
       'Madison St at 17th St', 'Dover St at 57th St',
       'Telegraph Ave at 27th St', '13th St at Franklin St',
       'Haste St at College Ave', 'MacArthur BART Station',
       'Bushrod Park', 'Market St at 8th St', 'Lakeside Dr at 14th St',
       '55th St at Telegraph Ave',
       '4th Ave at E 12th St (Temporary Location)',
       '6th Ave at E 12th St (Temporary Location)',
       'Webster St at 19th St', '16th St Depot', 'Downtown Berkeley BART',
       '21st St at 5th Ave', 'Ashby BART Station',
       'San Pablo Ave at MLK Jr Way', 'Broadway at 40th St',
       'South San Jose State (7th St at Humboldt St)',
       'Shattuck Ave at Hearst Ave', 'Palm St at Willow St',
       'Washington St at 8th St', 'Stockton Ave at Lenzen Ave',
       'Fruitvale BART Station', 'Bird Ave at Willow St',
       '45th St at MLK Jr Way', 'College Ave at Harwood Ave',
       'West St at 40th St', 'Broadway at Coronado Ave',
       'Empire St at 1st St', '27th St at MLK Jr Way', 'DeFremery Park',
       'Fruitvale Ave at International Blvd', '1st St at Younger Ave',
       'Foothill Blvd at Harrington Ave', 'Telegraph Ave at Alcatraz Ave',
       '5th St at Taylor St', 'Telegraph Ave at 58th St',
       '16th Depot Bike Fleet Station', '10th Ave at E 15th St'],
      dtype=object)

In [11]:
trip_data.started_at.iloc[0]

'2020-04-04 08:28:20'

#### Observed Issues

1. Missing data in **station columns** and **end coordinates**.
2. **Date columns** are strings instead of datetime.
3. The column name **"member_casual"** does not match the column values, since the column is representing the user account type.
4. There are some unhelpful columns for the scope of this analysis.

### Clean
Here I will be defining and executing programmatic solutions for each identified issue in the Assess section, as well as testing whether the proposed solution solved the problem or not.

#### Define
1. The missing stations will be filled with **"Not informed"** values, while the coordinates columns will not be filled as they do not belong to the scope of this analysis.
2. Use the pandas [to_datetime()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) method to convert column values to datetime.
3. Rename column to **"account_type"**.
4. Drop `ride_id`, `start_station_id`, `end_station_id`, `start_lat`, `start_lng`, `end_lat` and `end_lng` columns.

#### Code and Test
Here I will be using code techniques to clean up the data as planned in the **Define** section.

In [67]:
clean_trip_data = trip_data.copy()

In [68]:
clean_trip_data.drop(['ride_id', 'start_station_id', 
                      'end_station_id', 'start_lat', 
                      'start_lng', 'end_lat', 'end_lng'], axis=1, inplace=True)
clean_trip_data.head()

,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual
0,electric_bike,2020-04-04 08:28:20,2020-04-04 08:33:34,NaN,NaN,casual
1,electric_bike,2020-04-03 18:55:43,2020-04-03 19:21:05,NaN,NaN,casual
2,electric_bike,2020-04-04 15:11:04,2020-04-04 15:12:21,NaN,NaN,casual
3,electric_bike,2020-04-03 20:21:03,2020-04-03 22:08:06,8th St at Ringold St,NaN,casual
4,electric_bike,2020-04-03 18:39:39,2020-04-03 18:47:19,NaN,NaN,casual

In [69]:
clean_trip_data.fillna('Not informed', inplace=True)
clean_trip_data.isnull().sum()

rideable_type         0
started_at            0
ended_at              0
start_station_name    0
end_station_name      0
member_casual         0
dtype: int64

In [70]:
clean_trip_data['started_at'] = pd.to_datetime(clean_trip_data.started_at)
clean_trip_data['ended_at'] = pd.to_datetime(clean_trip_data.ended_at)
clean_trip_data.started_at.iloc[0]

Timestamp('2020-04-04 08:28:20')

In [71]:
clean_trip_data.rename(columns={'member_casual': 'account_type'}, inplace=True)
clean_trip_data.sample(5)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,account_type
51603,electric_bike,2020-04-20 18:59:49,2020-04-20 19:02:19,Not informed,1st St at San Carlos St,member
35502,electric_bike,2020-04-08 06:55:13,2020-04-08 07:20:25,Not informed,Not informed,member
9657,electric_bike,2020-04-04 13:19:42,2020-04-04 13:41:40,Jackson St at Polk St,Not informed,casual
31399,electric_bike,2020-04-18 12:20:02,2020-04-18 12:48:04,Not informed,Not informed,casual
7375,electric_bike,2020-04-14 20:04:56,2020-04-14 20:34:26,48th Ave at Cabrillo St,Scott St at Golden Gate Ave,casual

### Feature Engineering

In [72]:
clean_trip_data['started_hour'] = clean_trip_data.started_at.dt.hour
clean_trip_data['ended_hour'] = clean_trip_data.ended_at.dt.hour
clean_trip_data.sample(5)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,account_type,started_hour,ended_hour
16155,electric_bike,2020-04-24 16:08:10,2020-04-24 16:54:11,Not informed,Not informed,casual,16,16
26381,electric_bike,2020-04-26 18:46:02,2020-04-26 20:02:28,Not informed,Not informed,casual,18,20
70790,electric_bike,2020-04-28 07:36:50,2020-04-28 07:41:45,Hyde St at Post St,Mechanics Monument Plaza (Market St at Bush St),member,7,7
83841,docked_bike,2020-04-26 15:42:59,2020-04-26 15:53:35,Broderick St at Oak St,S Van Ness Ave at Market St,casual,15,15
33763,electric_bike,2020-04-19 13:15:10,2020-04-19 13:15:20,Not informed,Not informed,casual,13,13

In [73]:
clean_trip_data['monthday'] = clean_trip_data.started_at.dt.day
clean_trip_data.sample(5)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,account_type,started_hour,ended_hour,monthday
80182,electric_bike,2020-04-11 17:14:17,2020-04-11 17:27:33,16th St Mission BART Station 2,1st St at Folsom St,member,17,17,11
54313,electric_bike,2020-04-20 16:33:35,2020-04-20 16:43:17,Not informed,Not informed,member,16,16,20
3740,electric_bike,2020-04-19 14:32:55,2020-04-19 14:49:11,Not informed,Not informed,casual,14,14,19
9763,electric_bike,2020-04-06 12:35:54,2020-04-06 12:48:50,Powell St BART Station (Market St at 5th St),Not informed,casual,12,12,6
34220,electric_bike,2020-04-17 08:34:15,2020-04-17 08:45:35,Not informed,Folsom St at 15th St,casual,8,8,17

In [74]:
clean_trip_data['weekday'] = clean_trip_data.started_at.dt.weekday
clean_trip_data['weekday'] = clean_trip_data.weekday.map({0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 
                                                          3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'})
clean_trip_data.sample(5)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,account_type,started_hour,ended_hour,monthday,weekday
49975,docked_bike,2020-04-04 12:19:05,2020-04-04 12:30:51,17th St at Valencia St,Mississippi St at 17th St,member,12,12,4,Saturday
26584,electric_bike,2020-04-22 14:07:49,2020-04-22 15:00:41,Not informed,Not informed,casual,14,15,22,Wednesday
11104,electric_bike,2020-04-17 21:17:53,2020-04-17 21:26:02,Not informed,Not informed,casual,21,21,17,Friday
39771,electric_bike,2020-04-07 15:13:53,2020-04-07 15:23:53,Not informed,Not informed,member,15,15,7,Tuesday
67688,electric_bike,2020-04-16 05:35:05,2020-04-16 05:36:24,Jackson Playground,Not informed,member,5,5,16,Thursday

In [75]:
clean_trip_data['trip_time'] =  (clean_trip_data.ended_at - clean_trip_data.started_at)
clean_trip_data.sample(5)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,account_type,started_hour,ended_hour,monthday,weekday,trip_time
42268,electric_bike,2020-04-16 07:10:57,2020-04-16 07:18:54,4th St at 16th St,Powell St BART Station (Market St at 4th St),member,7,7,16,Thursday,00:07:57
21287,electric_bike,2020-04-15 15:19:24,2020-04-15 15:27:08,Not informed,Not informed,casual,15,15,15,Wednesday,00:07:44
37312,docked_bike,2020-04-25 10:23:13,2020-04-25 10:24:34,Duboce Park,Duboce Park,casual,10,10,25,Saturday,00:01:21
50305,electric_bike,2020-04-19 12:53:19,2020-04-19 13:03:43,Not informed,Not informed,member,12,13,19,Sunday,00:10:24
8349,electric_bike,2020-04-29 04:23:28,2020-04-29 05:01:15,Not informed,Not informed,casual,4,5,29,Wednesday,00:37:47

In [76]:
clean_trip_data.drop(['started_at', 'ended_at'], axis=1, inplace=True)
clean_trip_data.sample(5)

,rideable_type,start_station_name,end_station_name,account_type,started_hour,ended_hour,monthday,weekday,trip_time
47848,docked_bike,Frederick St at Arguello Blvd,10th Ave at Irving St,casual,13,13,14,Tuesday,00:48:46
70890,electric_bike,Bryant St at 6th St,Turk St at Fillmore St,member,14,15,7,Tuesday,00:45:28
28446,electric_bike,Not informed,Not informed,casual,18,19,22,Wednesday,00:07:37
58033,docked_bike,Powell St at Columbus Ave,Terry Francois Blvd at Mission Bay Blvd N,casual,17,18,25,Saturday,00:26:04
53801,electric_bike,Funston Ave at Irving St,Not informed,member,11,11,27,Monday,00:04:29

## Exploratory Data Analysis

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!